body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsbold;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

#title:hover{
    cursor: pointer;
}

li{
    display: inline-block;
    margin: 20px;
} 

a{
    color: white;
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#botao{
    border: 2px solid rgb(132, 14, 201);
    border-radius: 10px;
    padding: 15px;
}

#botao:hover{
    background-color: rgb(132, 14, 201);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 3cqmax;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(132, 11, 201);
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    height: 500px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#enviar{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 11, 201);
    color: white;
    font-weight: bold;
}

#enviar:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}